{% include base_path %}

<div class="page__footer-icons">
  {% if site.author.email %}
    <a href="mailto:{{ site.author.email }}" aria-label="Email"><i class="fas fa-envelope"></i></a>
  {% endif %}
  {% if site.author.googlescholar %}
    <a href="{{ site.author.googlescholar }}" aria-label="Google Scholar"><i class="ai ai-google-scholar"></i></a>
  {% endif %}
  {% if site.author.github %}
    <a href="https://github.com/{{ site.author.github }}" aria-label="GitHub"><i class="fab fa-github"></i></a>
  {% endif %}
  {% if site.author.twitter %}
    <a href="https://twitter.com/{{ site.author.twitter }}" aria-label="X/Twitter"><i class="fab fa-x-twitter"></i></a>
  {% endif %}
</div>

<div class="page__footer-copyright">
  &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}
</div>
