<div class="pillar">
  <div class="pillar__content">
    <h3 class="pillar__title">
      {% if include.link %}
        {% if include.link contains 'http' %}
          {% assign pillar_link = include.link %}
        {% else %}
          {% assign pillar_link = include.link | prepend: base_path %}
        {% endif %}
        <a href="{{ pillar_link }}">{{ include.title }}</a>
      {% else %}
        {{ include.title }}
      {% endif %}
      {% if include.meta %}
        <span class="pillar__meta">{{ include.meta }}</span>
      {% endif %}
    </h3>
    <p class="pillar__description">{{ include.description }}</p>
  </div>
</div>
