---
layout: default
---

{% include base_path %}

<main class="homepage">

  {% include hero-section.html %}

  <section class="homepage__pillars">
    <div class="pillars-container">
      {% if page.pillars %}
        <div class="pillars-list">
          {% for pillar in page.pillars %}
            {% include pillar-card.html
               icon=pillar.icon
               title=pillar.title
               description=pillar.description
               link=pillar.link
               meta=pillar.meta
            %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </section>

  {% include minimal-footer.html %}

</main>
